<div class="row">
  @for(leave of userLeaves; track $index) {
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>{{leave.leaveType.leaveTypeName}}</mat-card-subtitle>
          <mat-chip-set style="margin-left: auto;">
            <mat-chip color="warn" highlighted="true" class="info-chip">
              <mat-icon class="icon-sm">numbers</mat-icon>
              @if(leave.noOfDays != 0){  {{leave.leaveBalance}} -  } {{leave.takenLeaves}} @if(leave.noOfDays != 0){/{{leave.noOfDays}}} 
            </mat-chip>
          </mat-chip-set>
        </mat-card-header>
      </mat-card>
    </div>
  }
</div><br>

<mat-card class="leave-card">
  <mat-card-content class="form-wrapper">
    <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Employee</mat-label>
          <mat-select formControlName="userId" placeholder="Select Employee" required #id (selectionChange)="checkProbationStatus(id.value)">
              @for(item of Users; track $index){
                @if(item.name !== 'HR Admin' && item.name !== 'Approval Admin' && item.name !== 'Super Admin'){
                  <mat-option [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                }
              }


          </mat-select>
        </mat-form-field>

        <!-- Leave Type -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Leave Type</mat-label>
          <mat-select formControlName="leaveTypeId" placeholder="Select leave type" required>
            @for(leaveType of leaveTypes; track $index){
              <mat-option [value]="leaveType.id">
                {{ leaveType.leaveTypeName }}
              </mat-option>
            }
           
          </mat-select>
        </mat-form-field>

        <!-- Start Date -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Choose start date" (dateChange)="onDateChange()" required >
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-row">
        <!-- End Date -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="Choose end date" (dateChange)="onDateChange()" required >
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <!-- Reason -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Reason</mat-label>
          <textarea matInput
                    formControlName="notes"
                    placeholder="Enter reason"
                    required
                    (input)="prefixEmergency()">
          </textarea>
        </mat-form-field>
</div>

@if(isSickLeaveAndMoreThanThreeDays()){
  <div class="upload-container" (click)="fileInput.click()">
    Upload Image:
    <input type="file" hidden #fileInput (change)="uploadFile($event)">
    <mat-icon class="clickable-icon" [ngClass]="{'file-selected': isFileSelected}" style="margin-left: 10px;">cloud_upload</mat-icon>
    
    @if(fileName){
      <span style="margin-left: 10px;">{{ fileName }}</span>
    }
    @if(!isFileSelected){
      <div style="color: red;">
        File upload is mandatory for sick leave exceeding 3 days.
      </div>
    }
   
  </div>
}
      
      
<br>
      <div formArrayName="leaveDates">
        @for(leaveDate of leaveDates.controls;let i = $index; track $index ){
          <div [formGroupName]="i" class="leave-session-card">
            <mat-card>
              <mat-card-title>{{ leaveDate.get('date')?.value | date:'dd-MM-yyyy' }}</mat-card-title>
  
              <mat-checkbox [checked]="leaveDate.get('session1')?.value" (change)="onSessionChange(i, 'session1')">
                Session 1
              </mat-checkbox>
              <mat-checkbox [checked]="leaveDate.get('session2')?.value" (change)="onSessionChange(i, 'session2')">
                Session 2
              </mat-checkbox>
            </mat-card>
          </div>
        }

      </div>

      <br>
      <button mat-raised-button
      type="submit"
      color="primary"
      class="submit-btn"
      [disabled]="!leaveRequestForm.valid || (isSickLeaveAndMoreThanThreeDays() && !isFileSelected)">
        {{ isEditMode ? 'Update' : 'Apply' }} Leave
      </button>

    </form>
  </mat-card-content>
</mat-card>
