<mat-card>
  <mat-toolbar class="table-header">
    <div class="row" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <div class="col">
        <h1>APPLY LEAVE</h1>
      </div>
      <div class="col" style="margin-left: auto; margin-right: 25px;" onClick="history.back()">
        <span class="material-icons">exit_to_app</span>
      </div>
    </div>
  </mat-toolbar>

  <mat-card-content>
    <div class="wrapper">
      <form [formGroup]="leaveRequestForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Leave Type</mat-label>
          <mat-select formControlName="leaveType" placeholder="Select leave type">
            <mat-option value="annual">Annual Leave</mat-option>
            <mat-option value="sick">Sick Leave</mat-option>
            <mat-option value="personal">Personal Leave</mat-option>
          </mat-select>
        </mat-form-field>

        &nbsp;

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="fromDate" placeholder="Choose start date">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        &nbsp;

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="toDate" placeholder="Choose end date">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        &nbsp;

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Reason</mat-label>
          <textarea matInput formControlName="reason" placeholder="Enter reason"></textarea>
        </mat-form-field>

        &nbsp;

        <!-- Checkbox for Half Day -->
        <mat-checkbox formControlName="halfDay" (change)="onHalfDayChange($event)">Half Day</mat-checkbox>


        <!-- Conditionally display the time input based on Half Day checkbox -->
        <div *ngIf="leaveRequestForm.get('halfDay')?.value">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Half Day Timing</mat-label>
            <input matInput formControlName="halfDayTime" placeholder="Enter timing (e.g., 9 AM to 1 PM)">
          </mat-form-field>
        </div>

      </form>

      <!-- Buttons for Save or Update -->
      <button mat-raised-button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!leaveRequestForm.valid" *ngIf="!editStatus">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>
      <button mat-raised-button type="button" class="btn btn-success" (click)="onUpdate()" [disabled]="!leaveRequestForm.valid" *ngIf="editStatus">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>
    </div>
  </mat-card-content>
</mat-card>
