body {
  font-family: Arial, sans-serif;
}

.table-container {
  display: flex;
  justify-content: center; /* Centers the table in the container */
  margin: 20px; /* Adds space around the table */
}

.styled-table {
  border-collapse: collapse;
  width: 80%;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
  color: #333;
}

.styled-table tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}

.wide-header, .wide-cell {
  width: auto; /* Increased width for the first column */
}

.narrow-header, .narrow-cell {
  width: 30px; /* Decreased width for the second column */
}

// .styled-table {
//   width: 100%;
//   border-collapse: collapse;
//   margin: 20px 0;
//   font-size: 16px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// }

// .styled-table thead tr {
//   background-color: #009879;
//   color: #ffffff;
//   text-align: left;
// }

// .styled-table th, .styled-table td {
//   padding: 12px 15px;
// }

.narrow-cell {
  text-align: center;
  // width: 60px;
}

.clickable-icon {
  cursor: pointer;
  color: #06213e;
}

.note-entry {
  display: flex;
  align-items: center;
}

.note-input {
  // width: auto;
  margin-right: 5px;
}
