
<mat-card>
  <div class="custom-dialog">
    <h1 class="dialog-title">Change Status</h1>

    <mat-card-content>
      <div class="dialog-content">
        Are you sure you are changing the invoice {{invoiceNo}} to {{status}} status?
      </div>

      <div >
        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <input matInput placeholder="" formControlName="remarks">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline" *ngIf="status === 'KAM VERIFIED'">
            <mat-label>Authorizer Manager</mat-label>
            <mat-select placeholder="" formControlName="amId" (selectionChange)="onSelectionChange()">
              <mat-option *ngFor="let item of am" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline" *ngIf="status === 'AM VERIFIED'">
            <mat-label>Accountant</mat-label>
            <mat-select placeholder="" formControlName="accountantId" (selectionChange)="onSelectionChange()">
              <mat-option *ngFor="let item of am" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="status === 'AM REJECTED' || status === 'KAM REJECTED'">
            <mat-label>Sales Person</mat-label>
            <input matInput placeholder="" formControlName="spId" readonly>
          </mat-form-field>
        </form>

      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="dialog-actions">
        <button class="cancel-button" (click)="onCancelClick()">No</button>
        <button class="confirm-button" [disabled]="!isSelectionMade" (click)="onConfirmClick()">Yes</button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>


