/* Page container styling */
.page-container {
  background-color: #f5f5f5; /* Light background for contrast */
}


/* Table component holder */
.table-component-holder {
  background-color: #fff; /* White background for card */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Prevents content overflow */
}

/* Toolbar styling */
.table-header {
  background-color: #31a4f7; /* Primary color */
  color: #fff; /* White text color */
  // padding: 10px 20px; /* Spacing */
}

/* Input group styling */
.input-group {
  display: flex; /* Flex layout for input group */
  // align-items: center; /* Center items vertically */
}

/* Table styling */
.table-container {
  margin-top: 10px;
  overflow-x: auto; /* Allows horizontal scrolling */
}

/* Table styles */
table {
  border-radius: 10px;
  width: 100%; /* Full width */
  border-collapse: collapse; /* Remove gaps between cells */
}

th, td {
  padding: 12px; /* Padding for table cells */
  text-align: left; /* Left-aligned text */
  border-bottom: 1px solid #ddd; /* Bottom border for rows */
}

th {
  background-color: #5c91ec; /* Light grey background for headers */
  font-weight: bold; /* Bold text for headers */
}

/* Hover effect for table rows */
tbody tr:hover {
  background-color: #f1f1f1; /* Light background on hover */
}

/* Empty state styling */
tbody tr:empty td {
  text-align: center; /* Center align empty state */
}

/* Pagination styling */
mat-paginator {
  margin-top: 20px; /* Space above paginator */
}

/* Divider styling */
mat-divider {
  margin: 20px 0; /* Space around divider */
}

@media(max-width:576px)
{
    .box{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}