<app-leave-count-cards></app-leave-count-cards>

<mat-card class="leave-card">
  <mat-card-content class="form-wrapper">
    <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Leave Type</mat-label>
          <mat-select formControlName="leaveTypeId" placeholder="Select leave type" required>
            <mat-option *ngFor="let leaveType of leaveTypes" [value]="leaveType.id">
              {{ leaveType.leaveTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Choose start date" (dateChange)="onDateChange()" required >
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-row">

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="Choose end date" (dateChange)="onDateChange()" required >
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Reason</mat-label>
          <textarea matInput formControlName="notes" placeholder="Enter reason" required></textarea>
        </mat-form-field>
      </div>

      <div *ngIf="isSickLeave()" class="upload-container" (click)="fileInput.click()">
       Medical document:
        <input type="file" hidden #fileInput (change)="uploadFile($event)">
        <mat-icon class="clickable-icon" [ngClass]="{'file-selected': isFileSelected}" style="margin-left: 10px;">cloud_upload</mat-icon>
        <span *ngIf="fileName" style="margin-left: 10px;">{{ fileName }}</span>
        <!-- <div *ngIf="!isFileSelected">
          File upload is optional for sick leave.
        </div> -->
      </div>



<br>



      <div formArrayName="leaveDates">
        <div *ngFor="let leaveDate of leaveDates.controls; let i = index" [formGroupName]="i" class="leave-session-card">
          <mat-card>
            <mat-card-title>{{ leaveDate.get('date')?.value | date:'dd-MM-yyyy' }}</mat-card-title>

            <mat-checkbox [checked]="leaveDate.get('session1')?.value" (change)="onSessionChange(i, 'session1')">
              Session 1
            </mat-checkbox>
            <mat-checkbox [checked]="leaveDate.get('session2')?.value" (change)="onSessionChange(i, 'session2')">
              Session 2
            </mat-checkbox>
          </mat-card>
        </div>
      </div>

      <br>
      <button mat-raised-button
      type="submit"
      color="primary"
      class="submit-btn"
      [disabled]="!leaveRequestForm.valid || isLoading ">
{{ isEditMode ? 'Update' : 'Apply' }} Leave
</button>


    </form>
  </mat-card-content>
</mat-card>
