.form-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.half-width {
  width: 48%;
}

.full-width {
  width: 100%;
}

//------Upload css code--------------------------
.clickable-icon {
  cursor: pointer;
  transition: color 0.3s; /* Smooth color transition */
}

.file-selected {
  color: green; /* Change the icon color when a file is selected */
}

.leave-session-card {
  margin-bottom: 1rem; /* Add space between cards */
}

.leave-session-row {
  display: flex;
  gap: 1rem; /* Adds spacing between items */
}

mat-card-title {
  flex: 0.25; /* Ensures the title takes the necessary space */
}

mat-checkbox {
  flex: 0.1; /* Keeps checkboxes tightly aligned */
}