<div class="upload-container">
  <form [formGroup]="mainForm" enctype="multipart/form-data">
    <div formArrayName="uploadForms">
      <div *ngFor="let uploadForm of doc().controls; let i = index;" [formGroupName]="i" class="form-instance">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Document Type</mat-label>
              <input matInput formControlName="docName" placeholder="Enter employee ID" required>
            </mat-form-field>
          </div>
          <div class="col">
            <input type="file" class="file-input" hidden #fileInput (change)="onFileSelected($event, i)">
            <span class="material-icons file-upload-icon" (click)="fileInput.click()">cloud_upload</span>
            <p class="file-upload-text" (click)="fileInput.click()">Browse file to upload</p>
          </div>
          <div class="col">
            <button mat-raised-button color="primary" type="button" (click)="onSubmit(i)">Upload</button>

            <!-- Optional remove button for each form -->
            <button mat-icon-button color="warn" (click)="removeData(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
<!-- 
          <div class="col">
            <ng-container *ngIf="uploadProgress[i] > 0">
              <div class="progress-container">
                <mat-progress-bar mode="determinate" [value]="uploadProgress[i]"></mat-progress-bar>
              </div>
            </ng-container>
            <ng-container *ngIf="uploadSuccess[i]">
              <div class="upload-success">
                <mat-icon>check_circle</mat-icon> Document uploaded successfully!
              </div>
            </ng-container>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Button to add new form -->
    <!-- <button mat-icon-button color="primary" (click)="addDoc()">
      <mat-icon>add_circle</mat-icon>
    </button> -->
    <button mat-raised-button color="accent" (click)="addDoc()">Add</button>
    <!-- Button to complete the form -->
    <button mat-raised-button color="accent" (click)="completeForm()">Complete</button>
  </form>
</div>
