<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
    </div>
  </div>

  <main class="table" id="customers_table">
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th> Name </th>
            <th> Role </th>
            <th> Separation Note </th>
            <th> Notice Start Date </th>
            <th> Notice Period </th>
            <th> Separation Date (LWD) </th>
            <th> Manage </th>
          </tr>
        </thead>
        <tbody>
          @for(user of users; track $index){
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.role?.roleName }}</td>
              <td>{{ user.separationNote }}</td>
              <td>{{ user.noticeStartDate ? (user.noticeStartDate | date: 'dd-MM-yyyy') : 'N/A' }}</td>
              <td>{{ user.noticePeriod ? user.noticePeriod + ' Days' : '0 Days' }}</td>
              <td>{{ user.separationDate | date: 'dd-MM-yyyy' }}</td>
              <td>
                <button mat-icon-button (click)="employeeBack(user.id)" matTooltip="Revert Separation">
                  <mat-icon>keyboard_return</mat-icon> 
                </button>
                <button mat-icon-button (click)="editNote(user.id, user.empNo, user.name)" matTooltip="Edit Separation Details">
                  <mat-icon>edit_note</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </section>
  </main>
</body>
</html>