<div class="leave-encashment">
  <form [formGroup]="encashForm" (ngSubmit)="onEncash()">
    <div>
      <label>User ID:</label>
      <input formControlName="userId" type="number" />
    </div>
    <div>
      <label>Leave Type ID:</label>
      <input formControlName="leaveTypeId" type="number" />
    </div>
    <div>
      <label>Encashed Days:</label>
      <input formControlName="encashedDays" type="number" />
    </div>
    <div>
      <label>Amount:</label>
      <input formControlName="amount" type="number" />
    </div>
    <button type="submit">Encash Leave</button>
  </form>
  <div *ngIf="message" class="message">{{ message }}</div>
</div>
