<form [formGroup]="form">
  <mat-card>
    <mat-card-header><mat-card-title>Statutory Info</mat-card-title></mat-card-header>

    <div fxLayout="column" class="form-field-outer" style="margin-top: 20px;">
      <div class="row box">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Aadhaar Number</mat-label>
            <input matInput formControlName="adharNo" >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>PAN Number</mat-label>
            <input matInput formControlName="panNumber" >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>PF Number</mat-label>
            <input matInput formControlName="pfNumber" >
          </mat-form-field>
        </div>
      </div>

      <div class="row box">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>ESI Number</mat-label>
            <input matInput formControlName="esiNumber" >
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>UAN Number</mat-label>
            <input matInput formControlName="uanNumber" >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Insurance Number</mat-label>
            <input matInput formControlName="insuranceNumber" >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row box">
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Passport Number</mat-label>
          <input matInput formControlName="passportNumber" >
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Expiry Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="passportExpiry" placeholder="">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="col" style="text-align: right;">
      <button mat-raised-button (click)="triggerPreviousTab()" [disabled]="!form.pristine && !form.invalid && !isNext">
        <div class="text-with-icon">
          <mat-icon>arrow_back_ios</mat-icon>
          <span>Previous</span>
        </div>
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.pristine || form.invalid"
      style="margin-left: 10px;" >
        @if (editStatus) {
            Update
        } @else {
            Save
        }
      </button>
      <button mat-raised-button color="primary" onclick="history.back()" [disabled]="!form.pristine && !form.invalid && !isNext" style="margin-left: 10px;">
        Exit
      </button>
      <button mat-raised-button (click)="triggerNextTab()" style="margin-left: 10px;" [disabled]="!form.pristine && !form.invalid && !isNext">
        <div class="text-with-icon">
          <span>Next</span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
      </button>
    </div>
  </mat-card>
</form>
