<form [formGroup]="form">
  <mat-card>
    <mat-card-header><mat-card-title>Statutory Info</mat-card-title></mat-card-header>

    <div fxLayout="column" class="form-field-outer" style="margin-top: 20px;">
      <div class="row box">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Aadhaar Number</mat-label>
            <input matInput formControlName="adharNo" >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>PAN Number</mat-label>
            <input matInput formControlName="panNumber" >
          </mat-form-field>
        </div>
      </div>

      <div class="row box">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>ESI Number</mat-label>
            <input matInput formControlName="esiNumber" >
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>UAN Number</mat-label>
            <input matInput formControlName="uanNumber" >
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col" style="text-align: right;">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.pristine || form.invalid">
        @if (editStatus) {
            Update
        } @else {
            Save
        }
      </button>
      <button mat-raised-button color="primary" onclick="history.back()" [disabled]="!form.pristine && !form.invalid" style="margin-left: 10px;">
        Exit
      </button>
      <button mat-raised-button color="primary" (click)="triggerNextTab()" style="margin-left: 10px;" [disabled]="!form.pristine && !form.invalid">
        Next
      </button>
    </div>
  </mat-card>
</form>
