<div class="container">
  <h2 class="title">User Assets - {{assetCode}}</h2>
  <form [formGroup]="form" (ngSubmit)="addRow()" class="form">
    <div formGroupName="newRow" class="input-group">
      <input formControlName="identifierType" placeholder="Identifier Type" required class="input-field" />
      <input formControlName="identificationNumber" placeholder="Identification Number" required class="input-field" />
      <input formControlName="description" placeholder="Description" required class="input-field" />
      <input type="date" formControlName="assignedDate" placeholder="Assigned Date" required class="input-field" />
      <mat-icon (click)="addRow()">add_circle_outline</mat-icon>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr class="table-header">
        <th>Identifier Type</th>
        <th>Identification Number</th>
        <th>Description</th>
        <th>Assigned Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (row of rows; let i = $index; track $index) {
        <tr class="table-row">
          <td>{{ row.identifierType }}</td>
          <td>{{ row.identificationNumber }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.assignedDate }}</td>
          <td>
            <mat-icon (click)="removeRow(i)">remove_circle_outline</mat-icon>
          </td>
        </tr>
      }

    </tbody>
  </table>

  <button (click)="saveAssets()" class="btn save-btn">Save Assets</button>
</div>
