<div class="container" [class.sign-up-mode]="isSignUpMode">

  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" class="sign-in-form" (ngSubmit)="onSignIn()">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Emp ID" formControlName="empNo" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            placeholder="Password"
            formControlName="password"
          />
          <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </div>
        
        
        <input type="submit" value="Login" class="btn solid" />
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
      <!-- <form [formGroup]="signUpForm" class="sign-up-form" (ngSubmit)="onSignUp()">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" formControlName="username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" formControlName="email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" formControlName="password" />
        </div>
        <input type="submit" class="btn" value="Sign up" />
      </form> -->
    </div>
  </div>

  <div class="panels-container">

      <div class="panel left-panel">
        <!-- <div class="content"> -->
          <!-- Logo inclusion -->
          <!-- <img src="../../../assets/img/avatar.png" alt="Leeds HR Logo" class="logo-image"> -->

          <!-- <button class="btn1" (click)="toggleSignUpMode(true)">LEEDS HR</button>
          <p class="caption">"Streamlining Your Workforce"</p>
        </div> -->

    </div>



    <div class="panel right-panel">
      <div class="content">
        <h3>One of us?</h3>
        <p>Log in to access your account.</p>
        <button class="btn transparent" (click)="toggleSignUpMode(false)">Sign in</button>
      </div>
    </div>
  </div>
</div>
