<h1 mat-dialog-title>
  @if (editStatus) {
      <span>Edit</span>
  } @else {
      <span>ADD</span>
  }
   ROLE
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <br>
      <mat-form-field class="w-100" appearance="outline">
          <mat-label> Role Name </mat-label>
          <input matInput formControlName="roleName" required>
          <mat-error>
              @if (form.controls['roleName'].hasError('required')) {
                 Role name is required
              }
          </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Abbreviation</mat-label>
        <input matInput formControlName="abbreviation" required>
        <mat-error>
            @if (form.controls.abbreviation.errors?.required) {
                Abbreviation is required
            }
            @if (form.controls.abbreviation.hasError('minlength')) {
                Abbreviation isn't long enough, minimum of 5 characters
            }
        </mat-error>
      </mat-form-field>

      <!-- <div class="col center-align" style="align-content: center;">
        <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
      </div> -->
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid" (click)="onSubmit()">
      @if (editStatus) {
          Update
      } @else {
          Save
      }
  </button>
  <button mat-raised-button color="warn" (click)="close()" type="button">Cancel</button>
</div>
