<h1 mat-dialog-title>
    @if (company) {
        <span>Edit</span>
    } @else {
        <span>Add</span>
    }
    ADVANCE SALARY
  </h1>
  <br>
  <br>
  <div mat-dialog-content>
    <form [formGroup]="advanceSalaryForm" class="user-form">
      <div fxLayout="column" class="form-field-outer">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Employee</mat-label>
              <mat-select placeholder="Employee" formControlName="userId">
                &nbsp;&nbsp; &nbsp;&nbsp;<span class="material-icons" style="font-size: 30px; color: rgb(30,58,138);"
                (click)="manageUser()" >playlist_add</span>
                @for(item of users; track item){
                  @if(item.name !== 'HR Admin' && item.name !== 'Approval Admin' && item.name !== 'Super Admin'){
                    <mat-option [value]="item.id">
                      {{ item.name }}
                    </mat-option>
                  }
                }
               </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Scheme</mat-label>
                <mat-select formControlName="scheme">
                    <mat-option value="OnetimeSettlement">One time Settlement</mat-option>
                    <mat-option value="MonthlyInstallment">Monthly Installment</mat-option>
                </mat-select>
              </mat-form-field> 
      <mat-form-field appearance="outline" class="half-width">
        <mat-label> Amount: </mat-label>
        <input matInput formControlName="amount">
        <mat-error>
            @if (advanceSalaryForm.controls['amount'].hasError('required')) {
                amount is required
            }
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label> reason: </mat-label>
      <input matInput formControlName="reason">
      <mat-error>
          @if (advanceSalaryForm.controls['reason'].hasError('required')) {
            reason is required
          }
      </mat-error>
  </mat-form-field>

 
      </div>
    </form>
  </div>
  <br>
  <br>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [disabled]="!advanceSalaryForm.valid" (click)="onSubmit()">
        <!-- @if (leaveType) {
            Update
        } @else { -->
            Save
        <!-- } -->
    </button> &nbsp;
    
    <button mat-raised-button color="warn" (click)="close()" type="button">Cancel</button>
  </div>
  