<div fxLayout="row wrap" #resizedDiv>
 @if(errorMessage){
  <div class="error-message">{{ errorMessage }}</div>

 }

 @if(!hasLeaveCounts && !errorMessage){
  <div>No leave records available.</div>

 }

@if(hasLeaveCounts){
  <ng-container>
    @for(leave of leaveCounts;track $index){
      <ng-container>
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">

          <mat-card  class="leave-card">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
              <mat-card-subtitle>{{ leave.leaveType.leaveTypeName }}</mat-card-subtitle>


              <mat-chip-set>
                <mat-chip color="accent" highlighted="true" class="info-chip">
                  <mat-icon class="icon-sm">trending_up</mat-icon>
                  {{ getLeaveBalance(leave) }}
                </mat-chip>
              </mat-chip-set>
            </mat-card-header>
          </mat-card>
        </div>
      </ng-container>

    }

  </ng-container>
}


</div>
