<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="empNo" required>
  
      <input type="password" formControlName="password" placeholder="Password" required>
      @if(form.get('password')?.invalid && form.get('password')?.touched){
        <div class="error">
            Password must be at least 6 characters long.
          </div>
      }

  
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
      @if(passwordMismatch && form.get('confirmPassword')?.touched){
        <div class="error">
            Passwords do not match.
          </div>
      }
      <button type="submit" [disabled]="form.invalid || passwordMismatch">Reset Password</button>
    </form>
  </div>
  