


<mat-card *ngIf="pi">

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><strong>Supplier Name:</strong> {{ pi.supplierName }}</td>
        <td><strong>Supplier PO No:</strong> {{ pi.supplierPoNo }}</td>
        <td><strong>Supplier Price:</strong> <span style="color: green;"> $ {{ pi.supplierPrice }}</span></td>
        <td><strong>Purpose:</strong> {{ pi.purpose }}</td>
      </tr>
      <tr>

        <td *ngIf="pi.customerName"><strong>Customer Name:</strong> {{ pi.customerName }}</td>
        <td *ngIf="pi.customerName"><strong>Customer PO No:</strong> {{ pi.customerPoNo }}</td>
        <td *ngIf="pi.customerName"><strong>Customer PO Value:</strong> <span style="color: green;"> $ {{ pi.poValue }}</span></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col">
      <mat-card-header>
        <mat-card-title>
          PROFORMA INVOICE: {{ piNo | uppercase }}
        </mat-card-title>
      </mat-card-header>
    </div>

    <div class="col">
      <mat-card-header>
        <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon"
        class="d-block mr-0 ml-auto" onClick="history.back()" style="margin-left: auto;">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-card-header>
    </div>
  </div>

  <div class="row">
    <div class="col image">
      <mat-card-content>
        <div class="pdf-container">
          <iframe [src]="signedUrl | safe" width="100%"></iframe>
        </div>
      </mat-card-content>
    </div>

    <div class="col image" *ngIf="bankSlip">
      <mat-card-content>
        <div class="pdf-container">
          <iframe [src]="bankSlip | safe" width="100%"></iframe>
        </div>
      </mat-card-content>
    </div>
  </div>



  <mat-card-actions *ngIf="(kam && (pi.status !== 'KAM VERIFIED')) ||
  (am && (pi.status !== 'AM VERIFIED') && (pi.status !== 'BANK SLIP ISSUED'))">
<button mat-raised-button class="approve-button"
(click)="verified('approved')"
*ngIf="!sp && !admin && !teamLead">
APPROVE
</button>

<!-- Reject Button -->
<button mat-raised-button class="reject-button"
(click)="verified('rejected')"
*ngIf="!sp && !admin && !teamLead">
REJECT
</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="ma || admin" >
    <button mat-raised-button type="button" class="btn btn-success" (click)="addBankSlip(piNo, pi.id)">
      <span class="material-icons" style="font-size: 25px;">task_alt</span>ADD WIRESLIP
    </button>
  </mat-card-actions>
  <mat-card>
    <!DOCTYPE html>
    <html lang="en">
    <head>

    </head>
    <body>

        <main class="table" id="customers_table">
            <section class="table__header">
                <div class="row">
                    <div class="col">
                        <h4>STATUS</h4>
                    </div>

                    <div class="col" style="margin-top: 0;">
                        <div class="input-group">
                            <input type="search" placeholder="Search Data by status..." (keyup)="applyFilter($event)">
                        </div>
                    </div>
                </div>
            </section>

            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Remarks</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of status">
                            <td>{{row.status}}</td>
                            <td>{{row.remarks}}</td>
                            <td>{{row.date | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </body>
    </html>

  </mat-card>
</mat-card>

