
<app-leave-graphs></app-leave-graphs>
<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
      <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
        <mat-button-toggle value="add" (click)="openApplyLeave()">
          <mat-icon style="color: green;">event</mat-icon>
          APPLY LEAVE
        </mat-button-toggle>
      </mat-button-toggle-group>


    </div>
    <div fxLayout="row" class="col">
      <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
          <input matInput placeholder="Search leave by leave type..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>
  </div>

  <main class="table" id="customers_table">
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>Leave Type</th>
            <th>Leave Date</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of leaves">

            <td>{{ item.leaveType?.leaveTypeName }}</td>


            <td>
              <ng-container *ngFor="let date of item.leaveDates">
                {{ date.date | date: 'dd - MM - yyyy' }}
                <span *ngIf="date.session1">Session 1</span>
                <span *ngIf="date.session2">Session 2</span>
                <br>
              </ng-container>

            </td>



             <td>{{item.notes}}</td>

            <td>{{ item.status}}</td>


            <td>

              <ng-container *ngIf="item.status.toLowerCase() !== 'approved' && item.status.toLowerCase() !== 'rejected'; else blockedAction">
                <div class="icon-btn-group">

                  <button mat-icon-button
                          (click)="editLeave(item)"
                          class="icon-btn edit-btn"
                          [disabled]="item.status.toLowerCase() === 'approved' || item.status.toLowerCase() === 'rejected'">
                    <mat-icon>mode_edit</mat-icon>
                  </button>


                  <button mat-icon-button
                          (click)="deleteLeave(item.id)"
                          class="icon-btn delete-btn"
                          [disabled]="item.status.toLowerCase() === 'approved' || item.status.toLowerCase() === 'rejected'">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </ng-container>


              <ng-template #blockedAction>
                <div class="icon-btn-group blocked-layout">
                  <button mat-icon-button class="icon-btn blocked-btn" disabled>
                    <mat-icon>block</mat-icon>
                  </button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>


      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageIndex]="currentPage - 1"
        (page)="onPageChange($event)"
        [pageSizeOptions]="[10, 20, 30, 40, 50, 100]">
      </mat-paginator>

    </section>
  </main>
</body>
</html>


