

<mat-card>
  <mat-toolbar class="table-header">
    <div class="row" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <div class="col">
        <h1>UPLOAD</h1>
      </div>
      <div class="col" style="margin-left: auto; margin-right: 5px;" onClick="history.back()">
        <span class="material-icons">exit_to_app</span>
      </div>
    </div>
  </mat-toolbar>

  <mat-card-content>
    <div class="wrapper">
      <form [formGroup]="piForm">
        <mat-form-field appearance="outline">
          <mat-label>InvoiceNo</mat-label>
          <input matInput placeholder="" formControlName="piNo">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="editStatus">
          <mat-label>Status</mat-label>
          <input matInput placeholder="" formControlName="status">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="editStatus">
          <mat-label>Remarks</mat-label>
          <input matInput placeholder="" formControlName="remarks">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>KeyAccountManager</mat-label>
          <mat-select placeholder="" formControlName="kamId">
            <!-- <mat-form-field class="full-width">
              <div class="row">
                <input matInput (input)="filterRole($event)" placeholder="Search">
              </div>
            </mat-form-field> -->
            <mat-option *ngFor="let item of kam" [value]="item.id">
              {{item.name}}
            </mat-option>
            <!-- <mat-option *ngIf="kam.length === 0" [value]="'add'">
              <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addRole()">playlist_add</span>
            </mat-option> -->
          </mat-select>
        </mat-form-field>
      </form>
      <mat-icon *ngIf="imageUrl" style="font-size: 25px;" (click)="clearFileInput()">delete</mat-icon>

      <!-- <form #form class="form">
        <ng-container *ngIf="imageUrl && imageUrl != ''; else noImageTemplate">
          <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
          <img [src]="imageUrl" alt="Image" title="Image" height="300" width="300" (click)="fileInput.click()" />
        </ng-container>

        <ng-template #noImageTemplate>
          <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
          <span class="material-icons" (click)="fileInput.click()">cloud_upload</span>
          <p (click)="fileInput.click()">Browse file to upload</p>
        </ng-template>
      </form> -->

      <form #form class="form">
        <ng-container *ngIf="imageUrl && fileType != 'pdf'; else fileTemplate">
          <!-- Image Preview -->
          <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
          <img [src]="imageUrl" alt="Image" title="Image" height="300" width="300" (click)="fileInput.click()" />
        </ng-container>

        <ng-template #fileTemplate>
          <ng-container *ngIf="safeUrl && fileType === 'pdf'; else noFileTemplate">
            <!-- PDF Preview -->
            <object [data]="safeUrl" type="application/pdf" width="300" height="300">
              <p style="margin-left: 20px;">Your browser does not support PDFs. <a [href]="safeUrl" target="_blank">Download the PDF</a></p>
            </object>
          </ng-container>
        </ng-template>

        <ng-template #noFileTemplate>
          <!-- No File Selected -->
          <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
          <span class="material-icons" (click)="fileInput.click()">cloud_upload</span>
          <p (click)="fileInput.click()">Browse file to upload</p>
        </ng-template>
      </form>



      <section class="progress-area" *ngIf="file">
        <li class="row">
          <span class="material-icons">file_copy</span>
          <div class="content">
            <div class="details">
              <span class="name">{{ file.name }} - {{ uploadComplete ? 'Uploaded' : 'Uploading' }}</span>
              <mat-progress-bar *ngIf="!uploadComplete" mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
        </li>
      </section>



      <button mat-raised-button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!piForm.valid" *ngIf="!editStatus">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>
      <button mat-raised-button type="button" class="btn btn-success" (click)="onUpdate()" [disabled]="!piForm.valid" *ngIf="editStatus">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>
    </div>
  </mat-card-content>
</mat-card>

