
<body>
    <div class="table-container">
      <div class="scrollable-table">
        <table class="matrix-table">
            <thead>
                <tr>
                    <th>PI#</th>
                    <th>Attempt</th>
                    <th>Upload</th>
                    <th>KAM</th>
                    <th>AM</th>
                    <th>BankSlip</th>
                </tr>
            </thead>
            <tbody>
              @for (item of invoices; track item) {
                <tr>
                  <td class="project" (click)="openInvoice(item.id)" style="cursor: pointer; text-decoration: underline; color: #007bff;
                    transition: color 0.3s;" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">{{ item.piNo }}</td>
                  <td class="project" style="background-color: white; color: rgb(6, 49, 105);">{{ item.count }}</td>

                  <td class="check">
                    <span *ngIf="item.status === 'GENERATED' || item.status === 'KAM VERIFIED' || item.status === 'AM VERIFIED' || item.status === 'BANK SLIP ISSUED'">&#10003;</span>
                  </td>

                  <td class="check" *ngIf="item.status === 'KAM VERIFIED' || item.status === 'AM VERIFIED' || item.status === 'BANK SLIP ISSUED'">
                    <span>&#10003;</span>
                  </td>

                  <td class="cross" *ngIf="item.status === 'GENERATED' || item.status === 'KAM REJECTED' || item.status === 'AM REJECTED'">
                    <span >&#10007;</span>
                  </td>

                  <td *ngIf="item.status === 'AM VERIFIED' || item.status === 'BANK SLIP ISSUED'" class="check">
                    <span>&#10003;</span>
                  </td>

                  <td *ngIf="item.status === 'GENERATED' || item.status === 'KAM VERIFIED' || item.status === 'KAM REJECTED' || item.status === 'AM REJECTED'" class="cross">
                    <span>&#10007;</span>
                  </td>

                  <td *ngIf="item.status === 'BANK SLIP ISSUED'" class="check">
                    <span>&#10003;</span>
                  </td>

                  <td *ngIf="item.status !== 'BANK SLIP ISSUED'" class="cross">
                    <span>&#10007;</span>
                  </td>
                </tr>

                <!-- Additional row for rejected status if needed
                <tr *ngIf="item.status === 'KAM REJECTED' || item.status === 'AM REJECTED'">
                  <td colspan="5" class="cross">This item is rejected and starts over from "Generated".</td>
                </tr> -->
              }
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
        (page)="onPageChanged($event)" [pageSizeOptions]="[10, 20,30,40,50,100]">
        </mat-paginator>
      </div>
    </div>
</body>
