



<mat-card>
  <mat-toolbar class="table-header">
    <div class="row" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <div class="col">
        <h1>UPLOAD</h1>
      </div>
      <button mat-raised-button color="primary" onClick="history.back()" >
        <mat-icon>close</mat-icon>
      </button>

    </div>
  </mat-toolbar>

  <mat-card-content>
    <div class="wrapper">
      <form [formGroup]="piForm">
        <mat-form-field appearance="outline">
          <mat-label>InvoiceNo</mat-label>
          <input matInput placeholder="" formControlName="piNo" readonly>
        </mat-form-field>
        @if(editStatus){
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <input matInput placeholder="" formControlName="status" readonly>
          </mat-form-field>
        }
        
        <mat-form-field appearance="outline">
          <mat-label>Supplier Name</mat-label>
          <input matInput placeholder="" formControlName="supplierId">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Supplier SO#</mat-label>
          <input matInput placeholder="Enter Supplier SO#" formControlName="supplierSoNo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Supplier PO#</mat-label>
          <input matInput placeholder="Enter Supplier PO#" formControlName="supplierPoNo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Supplier Price $</mat-label>
          <input matInput placeholder="Enter Supplier Cost" formControlName="supplierPrice">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Purpose</mat-label>
          <mat-select placeholder="Select Purpose" formControlName="purpose">
            <mat-option value="Stock">Stock</mat-option>
            <mat-option value="Customer">Customer</mat-option>
          </mat-select>
        </mat-form-field>
        @if(sp){
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Key Account Manager</mat-label>
            <mat-select placeholder="" formControlName="kamId">
              @for(item of kam; track $index ){
                <mat-option [value]="item.id">
                  {{item.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if(kamb){
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Manager</mat-label>
            <mat-select placeholder="" formControlName="amId">
              @for(item of AMList; track $index){
                <mat-option [value]="item.id">
                  {{item.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if(am){
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Accountant</mat-label>
            <mat-select placeholder="" formControlName="accountantId">
              @for(item of AccountantList; track $index ){
                <mat-option [value]="item.id">
                  {{item.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if(piForm.get('remarks')?.value){
          <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <input matInput placeholder="" formControlName="remarks" readonly>
          </mat-form-field>
        }
        @if(piForm.get('purpose')?.value === 'Customer'){
          <ng-container>
            <mat-form-field appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input matInput placeholder="Enter Customer Name" formControlName="customerId">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Customer SO#</mat-label>
              <input matInput placeholder="Enter Customer SO#" formControlName="customerSoNo">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Customer PO#</mat-label>
              <input matInput placeholder="Enter Customer PO#" formControlName="customerPoNo">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CustomerPO Value $</mat-label>
              <input matInput placeholder="Enter PO Value" formControlName="poValue">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Notes</mat-label>
              <input matInput placeholder="Enter Notes" formControlName="notes">
            </mat-form-field>
          </ng-container>
        }

      </form>
      
      <form [formGroup]="piForm" enctype="multipart/form-data">
        <div formArrayName="url">
          @for (uploadForm of doc().controls; track $index; let i = $index;) {
            <div [formGroupName]="i" class="form-instance">
              <div class="row" style="margin-top: 20px;">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName="remarks">
                  </mat-form-field>
                </div>
                
                @if(!imageUrl[i] && !newImageUrl[i]){
                  <div class="col">
                    <input type="file" class="file-input" hidden #fileInput (change)="onFileSelected($event, i)">
                    <span class="material-icons file-upload-icon" (click)="fileInput.click()">cloud_upload</span>
                    <p class="file-upload-text" (click)="fileInput.click()">Browse file to upload</p>
                  </div>
                }
                @else if(imageUrl[i] && !newImageUrl[i]){
                  <div class="col">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                      @if(fileType[i] === 'pdf'){
                        <iframe [src]="imageUrl[i].url | safe" width="100%" height="300px"></iframe>
                      }@else {
                        <img [src]="imageUrl[i].url" alt="Image" title="Image" height="100" width="100" class="clickable-image" />
                      }
                      <mat-icon style="color: red;" (click)="onDeleteUploadedImage(i)">delete</mat-icon>
                    </div>
                  </div>
                } @else if(!imageUrl[i] && newImageUrl[i]){
                  <div class="col">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                      @if(fileType[i] === 'pdf'){
                        <iframe [src]="newImageUrl[i] | safe" width="100%" height="300px"></iframe>
                      }@else {
                        <img [src]="newImageUrl[i]" alt="Image" title="Image" height="100" width="100" class="clickable-image" />
                      }
                      <mat-icon style="color: red;" (click)="onDeleteImage(i)">delete</mat-icon>
                    </div>
                  </div>
                }
                <button mat-icon-button color="warn" (click)="removeData(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
          }
          <button mat-raised-button color="primary" (click)="addDoc()" [disabled]="!isImageUploaded()">New Doc</button>
        </div>
      </form>

      <button mat-raised-button color="primary" type="button" (click)="onUpdate()" [disabled]="!piForm.valid">
        UPDATE
      </button>
    </div>
  </mat-card-content>
</mat-card>

