



<mat-card>
  <mat-toolbar class="table-header">
    <div class="row" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <div class="col">
        <h1>UPLOAD</h1>
      </div>
      <button mat-raised-button color="primary" onClick="history.back()" >BACK  </button>

    </div>
  </mat-toolbar>

  <mat-card-content>
    <div class="wrapper">
      <form [formGroup]="piForm">
        <mat-form-field appearance="outline">
          <mat-label>InvoiceNo</mat-label>
          <input matInput placeholder="" formControlName="piNo" readonly>
        </mat-form-field>
@if(editStatus){
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <input matInput placeholder="" formControlName="status" readonly>
  </mat-form-field>
}
        





      <mat-form-field appearance="outline">
        <mat-label>Supplier Name</mat-label>
        <input matInput placeholder="" formControlName="supplierName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Supplier PO#</mat-label>
        <input matInput placeholder="Enter Supplier PO#" formControlName="supplierPoNo">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Supplier Price $</mat-label>
        <input matInput placeholder="Enter Supplier Cost" formControlName="supplierPrice">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Purpose</mat-label>
        <mat-select placeholder="Select Purpose" formControlName="purpose">
          <mat-option value="Stock">Stock</mat-option>
          <mat-option value="Customer">Customer</mat-option>
        </mat-select>
      </mat-form-field>
      @if(sp){
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Key Account Manager</mat-label>
          <mat-select placeholder="" formControlName="kamId">
            @for(item of kam; track $index ){
              <mat-option [value]="item.id">
                {{item.name}}
              </mat-option>
            }

  
          </mat-select>
        </mat-form-field>
      }
@if(kamb){
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Manager</mat-label>
    <mat-select placeholder="" formControlName="amId">
      @for(item of AMList; track $index){
        <mat-option [value]="item.id">
          {{item.name}}
        </mat-option>
      }


    </mat-select>
  </mat-form-field>
}
@if(am){
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Accountant</mat-label>
    <mat-select placeholder="" formControlName="accountantId">

      @for(item of AccountantList; track $index ){
        <mat-option [value]="item.id">
          {{item.name}}
        </mat-option>
      }


    </mat-select>
  </mat-form-field>
}
@if(piForm.get('remarks')?.value){
  <mat-form-field appearance="outline">
    <mat-label>Remarks</mat-label>
    <input matInput placeholder="" formControlName="remarks" readonly>
  </mat-form-field>

}


@if(piForm.get('purpose')?.value === 'Customer'){

  <ng-container>
    <mat-form-field appearance="outline">
      <mat-label>Customer Name</mat-label>
      <input matInput placeholder="Enter Customer Name" formControlName="customerName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer PO#</mat-label>
      <input matInput placeholder="Enter Customer PO#" formControlName="customerPoNo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CustomerPO Value $</mat-label>
      <input matInput placeholder="Enter PO Value" formControlName="poValue">
    </mat-form-field>
    </ng-container>
}
 

      </form>
 


        <!-- Upload Button -->
        <button type="button" class="upload-button" (click)="fileInput.click()">Re-Upload File</button>
        <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">




@if(file){
  <section class="progress-area">
    <li class="row">
      <!-- <span class="material-icons">file_copy</span> -->
      <div class="content">
        <div class="details">
          <span class="name">{{ file.name }} - {{ uploadComplete ? 'Uploaded' : 'Uploading' }}</span>
          @if(!uploadComplete){
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
        
        </div>
      </div>
    </li>
  </section>
}



      <div class="row">
        <div class="col">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-card-content>
                  <div class="pdf-container">
                    <iframe [src]="imageUrl | safe" width="100%" height="600px"></iframe>
                  </div>
                </mat-card-content>
              </div>

            </div>
          </mat-card-content>
        </div>
      </div>
@if(editStatus){
  <button mat-raised-button color="primary" type="button" (click)="onUpdate()" [disabled]="!piForm.valid">
    UPDATE
  </button>
}
    
    </div>
  </mat-card-content>
</mat-card>

