<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-button-toggle-group #viewType="matButtonToggleGroup" (change)="onToggleView($event)" appearance="legacy" value="grid" hideSingleSelectionIndicator="true">
    <mat-button-toggle value="list">
      <mat-icon>view_list</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="grid">
      <mat-icon>pie_chart</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div>
  <ng-container *ngIf="selectedView === 'grid'">
    <app-leave-graphs></app-leave-graphs>
  </ng-container>

  <ng-container *ngIf="selectedView === 'list'">
    <div fxLayout="row">
      <!-- Display message when no leave records are found -->
      <!-- <div *ngIf="errorFlag">
        <p>{{ errorMessage }}</p>
      </div> -->

      <!-- Loop through leave types and display cards -->
      <ng-container *ngFor="let leaveType of leaveCounts">
        <div *ngIf="shouldDisplayLeaveType(leaveType)" fxFlex="50" class="p-2">
          <!-- <app-leave-card [leaveType]="leaveType" [leave]="getLeaveCount(leaveType)"></app-leave-card> -->
          <mat-card>
            <mat-card-header fxLayoutAlign="center">
              <mat-card-title fxLayoutAlign="center">{{ leaveType.leaveType }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="bag pt-3">
              <mat-card *ngFor="let color of colors" 
                        [class.bg-primary]="color=='primary'"
                        [class.bg-accent]="color=='accent'"
                        [class.bg-warn]="color=='warn'"
                        class="draggable p-3">
                <div *ngIf="color === 'primary'" fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="100">
                    <strong>No of Days:</strong> {{ leaveType.noOfDays || 0 }}
                  </div>
                </div>
                <div *ngIf="color === 'accent'" fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="100">
                    <strong>Leave Balance:</strong> {{ leaveType.leaveBalance || 0 }}
                  </div>
                </div>
                <div *ngIf="color === 'warn'" fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="100">
                    <strong>Days Taken:</strong> {{ leaveType.takenLeaves || 0 }}
                  </div>
                </div>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>